{% extends 'base.html.twig' %}

{% block title %}Roulette Sam - Game{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/custom-style.css') }}">
    {% endblock %}

{% block body %}
    <span id="urlsApi" data-route-load-players="{{ path('roulette_load_players') }}"
          data-route-next-spin="{{ path('roulette_next_spin') }}"></span>
    <div class="container">

        <div class="row mt-5">
            <!-- Content no players -->
            <div id="noPlayerAlert" class="col-4 text-center ml-4" style="display: none;">
                <h3 class=" text-center text-white mt-5">
                    No hay jugadores con saldo disponible para participar<br><br><i class="icofont-sad icofont-4x"></i>
                </h3>
            </div>
            <!-- Content players -->
            <div id="playerList" class="col-6 p-3 content-players">

            </div>

            <!-- Content Roulette -->
            <div class="col-6  text-center">
                <img id="rouletteImage" class='img-game' src="{{ asset('images/roulette-game.png') }}">

                <div id="contentResultBet" class="content-result">
                </div>
            </div>

            <!-- Rule of bet amount  -->
            <h5 id="alertRule" class="w-50 mt-2 text-white" style="display: none;">El monto de apuesta debe estar entre
                un 11% y 19%, si el saldo actual es menor o igual a $ 1000, se toma todo el saldo.</h5>
        </div>

        <!-- Actions game -->
        <div class="row justify-content-center mt-5 ">
            <div class="col-md-4 text-center ">
                <a id="btnPlay" onclick="spinRoulette()" class="btn btn-game disabled">GIRAR</a>
                <h5 class="text-white mt-2">En automático cada 3 min</h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/roulette-manager1.js') }}"></script>

{% endblock %}
