{% extends 'base.html.twig' %}

{% block title %}{{ 'label.login'| trans }}!{% endblock %}



{% block body %}
    <div class="row content-justified-center" style="width: 100%;">

        <div class="col-12"
             style="background-color: #EEE;display:flex;justify-content: center;align-items: center; height: 30vh">
            <img alt="" src="{{ asset('images/login/roulette-login.png') }}" width="100" class="img-fluid">
            <label class="h2">Roulette SAM</label>
        </div>

        <div class="col-8 px-5" style="margin-top: 10%;">

            {% if error %}
                <div class="alert alert-danger">{{ error.message  }}</div>
            {% endif %}


            <div class="divider row"></div>
            <div style="width:inherit">

                {#                <span id="routeResetPassword" data-route="{{ path('user_recovery_password') }}"></span>#}

                <form class="" method="post" id="formResetPassword">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="inputEmail" class="">Correo</label>
                                <input value="{{ last_username }}" name="email" id="inputEmail"
                                       placeholder="Ingresar el correo"
                                       type="email" class="form-control" required autofocus>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="inputPassword" class="">Contraseña</label>
                                <input name="password" id="inputPassword"
                                       placeholder=""
                                       type="password" class="form-control" required>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                    </div>
                    <div class="divider row"></div>
                    <div class="d-flex align-items-center">
                        <div class="ml-auto">
                            <button class="btn btn-primary btn-sm" type="submit">
                                Ingresar
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
